epub-conversion==1.0.15
Flask==1.1.1
generativepoetry>=0.3.4
-e git+https://github.com/coreybobco/gutenberg_cleaner@master#egg=gutenberg_cleaner
html2text==2020.1.16
pytest==5.4.1
spacy>=2.2.3
Werkzeug==1.0.0
xml-cleaner==2.0.4

