  @font-face {
  font-family: "MachineLearning";
  src: 
  url("fonts/MachineLearningFont-v2.woff2") format("woff2"),
  url("fonts/MachineLearningFont-v2.woff2") format("woff2"),
  url("fonts/MachineLearningFont-v2.woff2") format("opentype");
  }

  div { 
    display: inline-block; 
  }

  #mutagen_container{
    position: relative;
    
    width: 100vw;
    background: #F4F4F4;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  #header {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100vw;
    padding: 1em 0 0 0;  
  }

  #title h1{ 
    font-family: "MachineLearning", serif;
    text-align: center; 
    color: #7AA300;
    text-shadow: 1px 1px 0px #333333, 2px 2px 0px #333333;
  }

  #title span{
    font-family: 'Almendra Display', monospace; 
    color: #333333;
    vertical-align: super;
    text-shadow: 1px 1px 0px #333333;
  }

  #quotation span{
    font-family: "MachineLearning", serif; 
    color: #333333;
  }

  #subtitle {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'NotCourierSansRegular', monospace;
    font-weight: 200;
    
  }

  #quote_container{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70vw;
  }

  #quotation { 
    width: 65vw;
  }

  #attribution { 
    align-self: flex-end;
    width: 60%;
  }

@media only screen and (min-width: 770px){
    #attribution {
      width: unset;
    }
  }

  #body_container {
    flex: auto;
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    padding: .5em .5em .5em .5em;
    font-size: 1.5em;
  }

  @media only screen and (min-width: 770px){
    #body_container {
      flex-flow: row nowrap;
      align-content: center;
      justify-content: space-around;
    }
  }

  #input_container, #output_container {
    width: 100%;
    margin: 1em 0 1em 0;
    }
  
  #input_container h1, #output_container h1{
    font-family:'Almendra Display',monospace;
    
  }

  @media only screen and (min-width: 770px){
    #input_container, #output_container {
      width: 35vw;
      margin: 0 0 0 0;
    }
  }

  #sampler_container {
    font-size: small;
    display:flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
    padding: .5em;
    margin-top: .5em;
    border:thin solid #CCCCCC;
    }

  @media only screen and (min-width: 770px){
    #sampler_container {
      justify-content: flex-start;
      align-self: flex-end;
      
    }
  }

  #sampler_container > section {
    margin: .15em;
    width: 100%;
  }

  #sampler_input_container{
    display:flex;
    flex-flow: row;
    font-size: 1rem;
    min-width: 15rem;
  }

  #sample_size_selector {
    display:flex;
    flex-flow: row;
  }


  #sample_size_paragraph, #sample_size_sentence {
    width:3em; 
    margin:0 0 0 0; 
  }

  #sampler_button_container{
    display:flex;
    flex-flow: row;
    font-size: 1rem;
    min-width: 15rem;
    justify-content: flex-end;
  }
  #options_container{
    display:flex;
    flex-flow: column wrap;
    align-self: flex-start;
  }

   #options_container_top, #options-container-bottom{
    display:none;
    
  }

  @media only screen and (min-width: 770px){
    #options_container_top, #options_container_bottom {
      display:flex;
    flex-flow: column wrap;
    align-self: flex-start;
    width: 100%;
    height: 14rem;
    }
  }

  #sampler_type_container{
    height: 3rem;
  }

  #options_selectors_container {
    border:thin solid #CCCCCC;
    display:flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
    padding: .5em;
    }

  @media only screen and (min-width: 770px){
    #options_selectors_container {
      justify-content: flex-start;
      align-self: flex-end;
      width: 15em;
      font-size: smaller;
    }
  }

  #options_selectors_container > section {
    margin: .15em;
    width: 100%;
  }

  input[type=number]:hover {
    background: rgb(231, 238, 243);
  }

  input[type=number]:focus{
    border-color: rgba(15, 154, 15, 1);
    outline: .1em solid rgba(15, 154, 15, 1);
    box-shadow: 0 0 0 2px rgba(0,128,0,0.5);
  }

  #generate_text_container {
    display:flex;
    align-items: center;
    justify-content: center;
    align-self: center; 
    width: 100%;
    height: 5em;
    padding: 1em 0 0 0;
  }

  #generate_text {
    background: #2CB32C;
    color:#082213;
    align-self:center; 
    justify-self: center;
    width: 70%;
    height: 100%;
  }

  #generate_text:hover {
    border-color: rgba(15, 154, 15, 1);
    outline: .1em solid rgba(15, 154, 15, 1);
    box-shadow: 0 0 0 2px rgba(0,128,0,0.5);
  }

  #generate_text:active {
    background: #0F9A0F;
  }

  #generate_text:focus {
    border-color: rgba(15, 154, 15, 1);
    outline: .1em solid rgba(15, 154, 15, 1);
    box-shadow: 0 0 0 2px rgba(0,128,0,0.5);
  }

  input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
  }

  input[type=number] { 
    border: 3px solid #DDD;
    font-family: 'NotCourierSansRegular', monospace; 
    text-align: center; 
    margin: .5em;
  }
  
  label {
    font-weight: normal;
    cursor: pointer;
  }

  #cutup_block_size_container, #markov_ngram_size_container { 
    font-style: oblique;
    padding: .5em;
    height: 5em;
    border: thin solid #CCCCCC;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }

#input_selector_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.5em;
}

  #cutup_block_size { 
    width:2em; 
    margin:0 0 0 0; 
  }

  #technique_selector_container, #output_format_container{ 
    text-align: left; 
  }
  
  #selectors { 
    display: flex;
    justify-content: space-evenly; 
  }

  textarea {
    border: 1px solid #ddd; 
    display: inline-block; 
    vertical-align: middle; 
    text-align: justify;
    padding: 1em;
    width:100%;
    resize: none; 
  }

  textarea:hover{
    background: #E8FDF5;
    border-top: 1px solid #ddd;
  }

  textarea:focus{
    border-color: rgba(15, 154, 15, 1);
    outline: .1em solid rgba(15, 154, 15, 1);
  }
  @media only screen and (min-width: 770px){
    textarea {
      border-top: 1px solid transparent;
    }
  }

  ::placeholder{
    font-style: italic;
  }

#blurb_container {
      display: flex;
      flex-direction: column;
      padding: .5em 2.5em .5em 2.5em;
      text-align: left;
      line-height: 2em;
      font-family: 'NotCourierSansRegular', monospace;
      font-weight: 200;
      width: 100vw;
}

#blurb_container p {
  
}

#blurb_container h1 {
    
    font-family:'Almendra Display',monospace;
}

#footer{
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 0 1em 0;
}

#footer_text{
  
  align-self: center;
  text-align: center;
}

  a:link {
    color: #0F9A0F;
  }

  a:hover {
    color: #2CB32C;
  }

  a:active {
    color: #2CB32C;
  }

  a:visited {
    color: #008000;
  }

  html {
    overflow-x: hidden;
    font-size: 62.5%; }
    body {
          overflow-x: hidden;
    font-family: 'NotCourierSansRegular', monospace;
    font-size: 1.5em; 
    line-height: 1.6;
    font-weight: 400;
    color: #222; }
    

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Almendra Display', monospace;
      margin-top: 0;
      margin-bottom: 2rem;
      font-weight: 300; }
    h1 { font-size: 4.0rem; line-height: 1.2; }
    h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
    h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
    h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
    h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
    h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
    
    @media only screen and (min-width: 770px) {
      h1 { font-size: 5.0rem; letter-spacing: -.1rem;}
      h2 { font-size: 4.2rem; }
      h3 { font-size: 3.6rem; }
      h4 { font-size: 3.0rem; }
      h5 { font-size: 2.4rem; }
      h6 { font-size: 1.5rem; }
    }

    @media (min-width: 0px) {
      .nav-tabs.nav-justified>li {
        font-family: 'NotCourierSansBold', serif;
        font-weight: bold;
        display:table-cell;
        width: 1%
      }
  
      .b-contain *, .b-contain *::before, .b-contain *::after {
        box-sizing: content-box !important;
      }
      
      .b-contain input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      
      .b-contain span {
        line-height: 1.54;
        font-size: 1em;
        font-family: inherit;
      }
      
      .b-contain {
        display: inline-flex;
        position: relative;
        padding-left: 1.8em;
        cursor: pointer;
        margin-bottom: .5em;
      }
      
      .b-contain input[type="checkbox"] ~ .b-input {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.25em;
        width: 1.25em;
        background: rgba(241, 245, 248, 1);
        border: 1px solid rgba(184, 194, 204, 1);
        border-radius: 0.125em;
      }
      
      .b-contain input[type="radio"] ~ .b-input {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.25em;
        width: 1.25em;
        background: #f1f5f8;
        border: 1px solid #b8c2cc;
        border-radius: 2.0em;
      }
      
      .b-contain input[type="checkbox"] ~ .b-input::after {
        content: '';
        position: absolute;
        display: none;
        left: .45em;
        top: .18em;
        width: .25em;
        height: .6em;
        border: solid rgba(255, 255, 255, 1);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      
      .b-contain input[type="radio"] ~ .b-input::after {
        content: '';
        position: absolute;
        display: none;
        left: .25em;
        top: .25em;
        width: .75em;
        height: .75em;
        border-radius: 2.0em;
        background: rgba(255, 255, 255, 1);
      }
      
      .b-contain input:disabled ~ .b-input::after {
        border-color: rgba(135, 149, 161, 1);
      }
      
      .b-contain input:checked ~ .b-input::after {
        display: block;
      }
      
      .b-contain:hover input ~ .b-input,
      .b-contain input:focus ~ .b-input {
        background: rgb(231, 238, 243);
      }
      
      .b-contain input:focus ~ .b-input {
        box-shadow: 0 0 0 2px rgba(0,128,0,0.5);
      }
      
      .b-contain input:checked ~ .b-input {
        background: rgba(15, 154, 15, 1);
        border-color: rgba(44, 179, 44, 1);
      }
      
      .b-contain input[type="checkbox"]:disabled ~ .b-input {
        background: rgba(241, 245, 248, 1);
        border-color: rgba(184, 194, 204, 1);
        opacity: 0.6;
        cursor: not-allowed;
      }
      
      .b-contain input[type="radio"]:disabled ~ .b-input {
        background: rgba(241, 245, 248, 1);
        border-color: rgba(184, 194, 204, 1);
        opacity: 0.6;
        cursor: not-allowed;
      }
      
      .b-contain input[type="radio"]:disabled ~ .b-input::after {
        background: rgba(135, 149, 161, 1);
      }
      
      .b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
        background: rgba(15, 154, 15, 1);
        border-color: rgba(44, 179, 44, 1);
      }
      
      .b-contain .b-input::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 3em;
        height: 3em;
        margin-left: -0.85em;
        margin-top: -0.85em;
        background: rgba(15, 154, 15, 1);
        border-radius: 2em;
        opacity: .6;
        z-index: 99999;
        transform: scale(0);
      }


      
      .b-contain input:focus + .b-input::before {
        visibility: visible;
      }

      .btn, .custom-select, .input-group-text {
        font-size: 1.5rem;
      }
      /*
      .b-contain .b-input::before {
        visibility: hidden;
      }
      .b-contain:first-child .b-input::before {
        visibility: hidden;
      }
      */

    .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    }
    
    /* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */


            input.visually-hidden:focus + label {
            outline: thin dotted;
            }
            input.visually-hidden:focus-within + label {
            outline: thin dotted;
            }
            
            #fileSelect-container {
            font-size: smaller;
            }