<html>

<head>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/notcouriersans" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Almendra+Display&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="static/index.js"></script>
  <link rel="stylesheet" href="static/index.css">
</head>

<body>
  <main id="mutagen-container">
    <section id="header">
      <section id="title">
        <h1><span>Markov</span>Mutagen</h1>
      </section>
      <section id="subtitle">
        <section id="quote-container">
          <figure id="quotation">
            <p>“The true literature machine will be one that itself feels the need to produce <span>disorder</span>, as
              a reaction
              against its
              preceding production of order: a machine that will produce avant-garde work to free its circuits when they
              are choked by
              too long a procession of classicism.”</p>
          </figure>
          <figcaption id="attribution">
            — Italo Calvino, Cybernetics and Ghosts (1967)</a>
          </figcaption>
        </section> <br>
      </section>
    </section>
    <section id="input-output-container">
      <section id="body-container">
        <section id="input-container">
          <p>Inputs</p>
          <ul id="input_tab_list" class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#inputtab1">1</a></li>
            <li><a data-toggle="tab" href="#inputtab2">2</a></li>
            <li><a data-toggle="tab" href="#inputtab3">3</a></li>
            <li><a data-toggle="tab" href="#inputtab4">4</a></li>
            <li><a data-toggle="tab" href="#inputtab5">5</a></li>
            <li><a data-toggle="tab" href="#inputtab6">6</a></li>
          </ul>
          <div class="tab-content">
            <div id="inputtab1" class="tab-pane fade in active">
              <textarea cols=78 rows=15 id=input placeholder="Paste, write, or refine input here."></textarea>
            </div>
            <div id="inputtab2" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input placeholder="Paste, write, or refine input here"></textarea>
            </div>
            <div id="inputtab3" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input placeholder="Paste, write, or refine input here"></textarea>
            </div>
            <div id="inputtab4" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input placeholder="Paste, write, or refine input here"></textarea>
            </div>
            <div id="inputtab5" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input placeholder="Paste, write, or refine input here"></textarea>
            </div>
            <div id="inputtab6" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input placeholder="Paste, write, or refine input here"></textarea>
            </div>
          </div>
        </section>
        <section id="options-container">
          <section id="include-input-container">
            <label for="input-selection">Select Inputs:</label><br>
            <label class="b-contain">
              <input type="checkbox" id="include_input_1" name="include_inputs" value=1 checked />
              <label for="include_input_1">
                <span>1</span>
              </label>
              <div class="b-input"></div>
            </label>
            <label class="b-contain">
              <input type="checkbox" id="include_input_2" name="include_inputs" value=2 />
              <label for="include_input_2">
                <span>2</span>
              </label>
              <div class="b-input"></div>
            </label>
            <label class="b-contain">
              <input type="checkbox" id="include_input_3" name="include_inputs" value=3 />
              <label for="include_input_3">
                <span>3</span>
              </label>
              <div class="b-input"></div>
            </label><br>
            <label class="b-contain">
              <input type="checkbox" id="include_input_4" name="include_inputs" value=4 />
              <label for="include_input_4">
                <span>4</span>
              </label>
              <div class="b-input"></div>
            </label>
            <label class="b-contain">
              <input type="checkbox" id="include_input_5" name="include_inputs" value=5 />
              <label for="include_input_5">
                <span>5</span>
              </label>
              <div class="b-input"></div>
            </label>
            <label class="b-contain">
              <input type="checkbox" id="include_input_6" name="include_inputs" value=6 />
              <label for="include_input_6">
                <span>6</span>
              </label>
              <div class="b-input"></div>
            </label>
          </section>
          <section id="mode_selector">
            <label for="mode_selector">Technique:</label><br>
            <label class="b-contain">
              <label for="markov"><span>Markov</span></label><br>
              <input type="radio" id="markov" name="mode_selector" checked>
              <div class="b-input"></div>
            </label><br>
            <label class="b-contain">
              <label for="cutup"><span>Cut-up</span></label><br>
              <input type="radio" id="cutup" name="mode_selector" checked>
              <div class="b-input"></div>
            </label><br>
          </section>
          <div id="cutup_block_size_container">
            Block Size Between:<br>
            <input class="cutup_block_size" type="number" value='2' />and<input class='cutup_block_size' type='number'
              value='5' />Words
          </div>
          <section id="wordcount-container">
            <label for="wordcount">Output Length:</label>
            <input id='wordcount' type='number' value='400' /><label for='wordcount'>Words</label><br>
          </section>
          <section id="generate-text-container">
            <button id="generate-text"><label for="generate-text">Generate Text</label></button><br>
          </section>

        </section>
        <section id="output-container">
          <p>Outputs</p>
          <ul id="output_tab_list" class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#outputtab1">A</a></li>
            <li><a data-toggle="tab" href="#outputtab2">B</a></li>
            <li><a data-toggle="tab" href="#outputtab3">C</a></li>
            <li><a data-toggle="tab" href="#outputtab4">D</a></li>
            <li><a data-toggle="tab" href="#outputtab5">E</a></li>
            <li><a data-toggle="tab" href="#outputtab6">F</a></li>
          </ul>
          <div class="tab-content">
            <div id="outputtab1" class="tab-pane fade in active">
              <textarea cols=78 rows=15 id=input
                placeholder="Generated text will appear here. Switch tabs to save and edit multiple generated texts."></textarea>
            </div>
            <div id="outputtab2" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input
                placeholder="Generated text will appear here. Switch tabs to save and edit multiple generated texts."></textarea>
            </div>
            <div id="outputtab3" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input
                placeholder="Generated text will appear here. Switch tabs to save and edit multiple generated texts."></textarea>
            </div>
            <div id="outputtab4" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input
                placeholder="Generated text will appear here. Switch tabs to save and edit multiple generated texts."></textarea>
            </div>
            <div id="outputtab5" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input
                placeholder="Generated text will appear here. Switch tabs to save and edit multiple generated texts."></textarea>
            </div>
            <div id="outputtab6" class="tab-pane fade in">
              <textarea cols=78 rows=15 id=input
                placeholder="Generated text will appear here. Switch tabs to save and edit multiple generated texts."></textarea>
            </div>
          </div>
          </div>
        </section>
      </section>
    </section>
    <section id="subtitle">
      <section id="blurb-container">
        <figure id="blurb">
          <h1>About Markov Chains</h1>
          <hr>
          <p>A Markov chain is a stochastic model describing a sequence of possible events in which the probability of
            each event
            depends only on the state attained in the previous event. In the case of text generation, these
            probabilities are
            determined by word order of an input, which can be broken down into n-grams (units) of 1, 2, or 3 words.
            <br><br>
            For
            the order-1
            n-gram model, Markov text generation begins by selecting random word which begins a sentence and then
            selects a random
            word which followed that word, weighted by frequency of appearance: for instance, if in the input "The" is
            followed by
            "rhombus" thrice and "skeleton" once, there is a 75% chance the algorithm will select rhombus next and a 25%
            chance
            skeleton will be selected. If skeleton is selected, the word which follows skeleton in the original text
            will appear
            next, since skeleton appeared only once, but if rhombus is selected, then a random word which follows
            rhombus in the
            original passage will appear. The order 2 n-gram variant would proceed similarly, except it would start by
            randomly
            selecting "The rhombus" or "The skeleton" and then, if "The rhombus" was selected, randomly select a word
            which followed
            "The rhombus."
            <br><br>
            <h1>Use in Literature</h1>
            <hr>
            <section id="subtitle">
              <section id="quote-container">
                <figure id="quotation">
                  <p>“Unfortunately human effort, which always varies the arrangement of existing elements, cannot be
                    applied
                    to producing a
                    single new element. A landscape in which nothing terrestrial figures is beyond the scope of our
                    imagination.”</p>
                </figure>
                <figcaption id="attribution">
                  —andré breton</a>
                </figcaption>
              </section>
            </section>
            <br>
            By running multiple texts together through a Markov chain at the same time, it becomes possible to collage
            bits of text
            in novel, often nonsensical ways that often rebel from syntax and invert idiomatic constructions. (Software,
            after all,
            has no subconscious to veto awkward constructions before they arise to conscious thought.)
            <br><br>
            There are several
            precedents
            to this technique. The cut-up technique, pioneered by the Dadaists and further developed by <a
              href="https://www.writing.upenn.edu/~afilreis/88v/burroughs-cutup.html" target=blank>William S.
              Burroughs</a> and
            Brion Gysin, rearranged cut-up blocks of text from multiple pages to invent a new body of text. In the
            1980s,
            programmers realized the parodic potential of Markov chain algorithms when applied to writing and released
            <a href="http://catb.org/jargon/html/D/Dissociated-Press.html" target=blank>Dissociated
              Press</a>, a plug-in for the eMacs text editor. Following in their footsteps, Jamie Zawinski released the
            C program
            <a href="https://www.jwz.org/dadadodo/" target=blank>dadadodo</a> which generates
            text from an input file.
            <br><br>
            <h1>Markov Mutagen</h1>
            <hr>
            With Markov Mutagen, you can easily combine and run inputs through a Markov text generator or a simulation
            of the cut-up
            technique. You are encouraged to combine, edit, and collage the outputs or even recycle the output as an
            input.
            Cybernetic writing is an open-ended game whose procedures are still being developed and combined in new
            ways.
            <br><br>
            So try
            sampling text from a novel, news article, encyclopedia, conspiracy theory, theological treatise, or whatever
            else
            strikes your fancy. Try replacing a word (noun, verb, adjective) in one input with a word from another to
            manipulate the
            probabilities in the Markov model. The outputs of neural networks like <a
              href="http://talktotransformer.com/" target=blank>TalkToTransformer</a> also serve well as
            inputs. And
            enjoy the fruits of your discordant prosody.
          </p>
          <hr>
        </figure>
      </section> <br>
    </section>
    <section id="footer">
      <section id="footer-text">
        Python by <a href="https://github.com/coreybobco/">Corey Bobco</a> <br>
        Design by <a href="https://zacharyschulte.com/">Zachary Schulte</a> <br>
        2020
      </section>
    </section>
  </main>
</body>

</html>